{% extends 'cards_containers/outdated_card.html' %}
{% block card_id %}
    expense_item
{% endblock card_id %}
{% block card_color %}
    is-warning
{% endblock card_color %}
{% block card_title %}
    {{ expense.name }}
{% endblock card_title %}
{% block card_edit_link %}
    {% url 'edit_constant_expense' expense.id %}
{% endblock card_edit_link %}
{% block card_delete_button %}
    {% url 'delete_constant_expense' expense.id %}
{% endblock card_delete_button %}
{% block first_column %}
    <h2 class="subtitle has-text-grey">
        Started: <span id="start_date">{{ expense.start_date|date:"d.m.Y" }}</span>
    </h2>
{% endblock first_column %}
{% block second_column %}
    <h2 class="subtitle has-text-grey">
        Ending: <span id="finish_date">{{ expense.finish_date|date:"d.m.Y" }}</span>
    </h2>
{% endblock second_column %}
{% block third_column %}
    <h2 class="subtitle has-text-grey">
        <span id="expense_value">{{ expense.get_current_value }}</span>
    </h2>
{% endblock third_column %}
{% block card_view_button_link %}
    {% url 'view_constant_expense' expense.id %}
{% endblock card_view_button_link %}
{% block card_bump_button_link %}
    {% url 'bump_constant_expense' expense.id %}
{% endblock card_bump_button_link %}
