{% extends 'horizontal_fields/base.html' %}
{% block label_name %}
    New start date
{% endblock label_name %}
{% block control_tag %}
    <div class="control has-icons-left">
        <input class="input is-warning"
               type="date"
               name="start_date"
               value="{{ expense.start_date|date:"Y-m-d" }}"
               id="{{ form.start_date.id_for_label }}">
        <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
        </span>
    </div>
{% endblock control_tag %}
