{% extends 'yearly.html' %}
{% block spends_table %}
    <div class="container">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>
                        <abbr title="Position">Date</abbr>
                    </th>
                    <th>
                        <abbr title="Played">Trat</abbr>
                    </th>
                    <th>
                        <abbr title="Won">Kategr</abbr>
                    </th>
                    <th>
                        <abbr title="Won">Delete</abbr>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <th>{{ expense.date }}</th>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category }}</td>
                        <td><a href={% url 'delete_expense' expense.id %}><button class="delete"></button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock spends_table %}