{% extends 'view_actual_instances_page/instances_container.html' %}
{% block subtitle_hero %}
    Доходы
{% endblock subtitle_hero %}
{% block instances_head__add_new_button_url %}
    {% url "add_constant_income" %}
{% endblock instances_head__add_new_button_url %}
{% block instances_head__title %}
    Все постоянные доходы
{% endblock instances_head__title %}
{% block instances_head__additional_row %}
{% endblock instances_head__additional_row %}
{% block container_box__title %}
    Список доходов
{% endblock container_box__title %}
{% block first_column %}
    <h2 class="subtitle">
        Начало: <span id="start_date"><strong>{{ instance.start_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock first_column %}
{% block second_column %}
    <h2 class="subtitle">
        Конец: <span id="finish_date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock second_column %}
{% block third_column %}
    <h2 class="subtitle">
        <span id="income_value">{{ instance.get_current_value }} ₽</span>
    </h2>
{% endblock third_column %}
{% block outdated_first_column %}
    <h2 class="subtitle">
        Начало: <span id="start_date"><strong>{{ instance.start_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% block add_expense_button %}
{% endblock add_expense_button %}
{% endblock outdated_first_column %}
{% block outdated_second_column %}
    <h2 class="subtitle">
        Конец: <span id="finish_date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock outdated_second_column %}
{% block outdated_third_column %}
    <h2 class="subtitle">
        <span>{{ instance.get_current_value }} ₽</span>
    </h2>
{% endblock outdated_third_column %}
