{% extends 'view_instance_page/instance_container.html' %}
{% block subtitle_hero %}
    Доходы
{% endblock subtitle_hero %}
{% block instance_head__view_all_url %}
    {% url 'view_all_constant_incomes' %}
{% endblock instance_head__view_all_url %}
{% block instance_head__title %}
    Постоянный доход
{% endblock instance_head__title %}
{% block first_column %}
    <h2 class="subtitle">
        Начало: <span id="start_date"><strong>{{ instance.start_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock first_column %}
{% block second_column %}
    <h2 class="subtitle">
        Конец: <span id="finish_date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock second_column %}
{% block third_column %}
    <h2 class="subtitle">
        <span id="income_value">{{ instance.get_current_value }} ₽</span>
    </h2>
{% endblock third_column %}
