{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    Page for index
{% endblock subtitle_hero %}
{% block content %}
    <div class="block">
        <center>
            <h1 class="title">List of categories</h1>
            <a href={% url 'view_resume' 2022 6 %}>resume</a>
        </center>
    </div>
    <div class="tags are-large">
        {% for category in categories %}
            <form class="tag"
                  method="get"
                  action
                  {% url 'delete_category' category.id %}>
                {{ category }}
                <button class="delete"></button>
            </form>
        {% endfor %}
    </div>
    <div class="block">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="block">
                <div class="field">
                    <p class="control">
                        <input class="input is-primary"
                               type="text"
                               name="name"
                               placeholder="Name of category"
                               required
                               id="{{ form.name.id_for_label }}">
                    </p>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
