{% extends 'base.html' %}
{% block content %}
    <div class="block">
        <center>
            <h1 class="title">Editing expense</h1>
        </center>
    </div>
    <div class="box is-notification is-warning">
        <div class="field is-horizontal">
            <div class="field-label">
                <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
                <h1 class="title" id="expense_name_title">{{ expense.name }}</h1>
            </div>
        </div>
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">New name</label>
                </div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="control">
                            <input class="input is-warning"
                                   type="text"
                                   name="name"
                                   value="{{ form.name.value }}"
                                   placeholder="{{ form.name.value }}"
                                   id="{{ form.name.id_for_label }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">New start date</label>
                </div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="control has-icons-left">
                            <input class="input is-warning"
                                   type="date"
                                   name="start_date"
                                   value="{{ expense.start_date|date:"Y-m-d" }}"
                                   id="{{ form.start_date.id_for_label }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">New finish date</label>
                </div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="control has-icons-left">
                            <input class="input is-warning"
                                   type="date"
                                   name="finish_date"
                                   value="{{ expense.finish_date|date:"Y-m-d" }}"
                                   id="{{ form.finish_date.id_for_label }}">
                            <span class="icon is-small is-left">
                                <i class="fas fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label">
                    <!-- Left empty for spacing -->
                </div>
                <div class="field-body">
                    <button type="submit" class="button is-success" id="expense_save_btn">
                        <span class="icon is-small">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
