{% extends 'edit_instance_page/instance_container.html' %}
{% block instance_head__title %}
    Редактирование постоянной траты
{% endblock instance_head__title %}
{% block instance_info %}
{% endblock instance_info %}
{% block instance_forms %}
    {% with instance_color="is-warning"%}
        {% include 'edit_instance_page/horizontal_field__name.html' %}
        {% include 'edit_instance_page/horizontal_field__start_date.html' %}
        {% include 'edit_instance_page/horizontal_field__finish_date.html' %}
        {% include 'edit_instance_page/horizontal_field__save_button.html' %}
    {% endwith %}
{% endblock instance_forms %}
