{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    All spends
{% endblock subtitle_hero %}
{% block content %}
    <div class="columns">
        <div class="column">
            <form method="get" action={% url 'add_constant_expense' %}>
                <button class="button is-warning" id="add_expense_btn">
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <span>Add constant expenses</span>
                </button>
            </form>
        </div>
        <div class="column has-text-centered">
            <h1 class="title">All constant spends</h1>
            <form method="get" action={% url 'view_all_expenses' %}>
                <button class="button is-small is-success is-outlined">
                    <span>Regular</span>
                </button>
            </form>
        </div>
        <div class="column"></div>
    </div>
    {% include 'view_all_constant_expenses/expense_container.html' %}
    {% if outdated_expenses %}
        <section class="section is-small">
            <h2 class="subtitle is-2 has-text-centered">Outdated expenses</h2>
        </section>
    {% endif %}
    {% for expense in outdated_expenses %}
        {% include 'view_all_constant_expenses/expense_outdated_card.html' %}
    {% endfor %}
{% endblock content %}
