{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    All spends
{% endblock subtitle_hero %}
{% block content %}
    <div class="block">
        <center>
            <h1 class="title">All constant spends</h1>
            <form method="get" action={% url 'view_all_expenses' %}>
                <button class="button is-small is-success is-outlined">
                    <span>Regular</span>
                </button>
            </form>
        </center>
    </div>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    <abbr title="Position">Date</abbr>
                </th>
                <th>
                    <abbr title="Played">Trat</abbr>
                </th>
                <th>
                    <abbr title="Won">Skok</abbr>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
                <tr>
                    <th><a href="{{ expense.get_absolute_url }}">{{ expense.name }}</a></th>
                    <td>{{ expense.start_date }}</td>
                    <td>{{ expense.finish_date }}</td>
                    <td><a href={% url 'delete_constant_expense' expense.id %}><button class="delete"></button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
