{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    Add spends
{% endblock subtitle_hero %}
{% block content %}
    <section class="section">
        <center>
            <h1 class="title">Add spends</h1>
        </center>
    </section>
    <div class="block">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="block">
                {{ form.date.errors }}
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-primary"
                               type="date"
                               name="date"
                               placeholder="Date"
                               required
                               id="{{ form.date.id_for_label }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="block">
                {{ form.amount.errors }}
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input is-primary"
                               type="number"
                               name="amount"
                               placeholder="Amount"
                               step="0.01"
                               required
                               id="{{ form.amount.id_for_label }}">
                        <span class="icon is-small is-left">
                            <i class="fas fa-ruble-sign"></i>
                        </span>
                    </p>
                </div>
            </div>
            <div class="block">
                {{ form.category.errors }}
                <div class="select is-primary">
                    <select name="category" required id="id_category">
                        {% for id, name in form.category.field.choices %}
                            <option value="{{ id }}">
                                {{ name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="block">
                <button type="submit" class="button is-success">
                    <span class="icon is-small">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
