{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    Edit income
{% endblock subtitle_hero %}
{% block content %}
    <div class="container">
        <form method="POST" class="box">
            {% csrf_token %}
            <div class="field">
                <h4 class="title is-4">{{ income.name }}</h4>
                <label class="label">New name:</label>
                <div class="control">
                    <input class="input is-primary"
                           type="text"
                           name="name"
                           value="{{ income.name }}"
                           required
                           id="{{ form.name.id_for_label }}"
                           placeholder="Salary">
                </div>
                <label class="label">Current value: {{ income.value }}</label>
                <div class="control">
                    <input class="input is-primary"
                           type="number"
                           name="value"
                           step="0.01"
                           required
                           id="{{ form.value.id_for_label }}"
                           placeholder="3 000 000,00">
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <button type="submit" class="button is-primary">Change</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
