{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    Edit income
{% endblock subtitle_hero %}
{% block content %}
    <section class="section">
        <center>
            <h1 class="title">{{ cur_month }}</h1>
        </center>
    </section>
    <div class="container">
        <div class="block">
            {% for income in incomes %}
                <div class="box">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <h4 class="title is-4">{{ income.name }}</h4>
                                <label class="label">Current value: {{ income.value }}</label>
                                <a href={% url 'income_edit' year month income.id %}>
                                    <button class="button is-primary">Edit</button>
                                </a>
                            </div>
                        </div>
                        <div class="column" style="text-align:right;">
                            <a href={% url 'income_delete' income.id %}>
                                <button class="button is-danger is-outlined">Delete</button>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <form method="POST" class="post-form">
                {% csrf_token %}
                <div class="field">
                    <h4 class="title is-4">Add new income</h4>
                    <div class="control">
                        <label class="label">Name</label>
                        <input class="input is-primary"
                               type="text"
                               name="name"
                               placeholder="Salary"
                               id="{{ form.name.id_for_label }}"
                               required>
                    </div>
                    <div class="control">
                        <label class="label">Value</label>
                        <input class="input is-primary"
                               type="number"
                               name="value"
                               step="0.01"
                               placeholder="90000,00"
                               id="{{ form.value.id_for_label }}"
                               required>
                    </div>
                </div>
                <button class="button is-primary">Add</button>
            </form>
        </div>
    </div>
{% endblock content %}
