{% extends 'view_actual_instances_page/instances_container.html' %}
{% block title %}
    Казначевский
{% endblock title %}
{% block subtitle_hero %}
    Текущие цели
{% endblock subtitle_hero %}
{% block instances_head__add_new_button_url %}
    {% url "add_goal" %}
{% endblock instances_head__add_new_button_url %}
{% block instances_head__title %}
    Все цели
{% endblock instances_head__title %}
{% block instances_head__additional_row %}
{% endblock instances_head__additional_row %}
{% block container_box__title %}
    Список целей
{% endblock container_box__title %}
{% block progress_bar %}
<progress class="progress is-info"
                          value="{{ instance.get_percent|floatformat:"2u" }}"
                          max="100"></progress>
{% endblock progress_bar %}
{% block first_column %}
    <h2 class="subtitle">
        Конец: <span id="date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock first_column %}
{% block second_column %}
    <h2 class="subtitle">
        <span id="percent"><strong>{{ instance.get_percent }} %</strong></span>
    </h2>
{% endblock second_column %}
{% block third_column %}
    <h2 class="subtitle">
        Есть <span id="percent"><strong>{{ instance.get_current_balance }}</strong> из {{ instance.value }} ₽</span>
    </h2>
{% endblock third_column %}
{% block outdated_first_column %}
<h2 class="subtitle">
    Конец: <span id="date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
</h2>
{% endblock outdated_first_column %}
{% block outdated_second_column %}
<h2 class="subtitle">
    <span id="percent"><strong>{{ instance.get_percent }} %</strong></span>
</h2>
{% endblock outdated_second_column %}
{% block outdated_third_column %}
<h2 class="subtitle">
    Было <span id="percent"><strong>{{ instance.get_current_balance }}</strong> из {{ instance.value }} ₽</span>
</h2>
{% endblock outdated_third_column %}

