{% extends 'base.html' %}
{% block content %}
    <div class="columns">
        <div class="column">
            <form method="get" action={% url 'add_goal' %}>
                <button class="button is-primary is-outlined" id="add_goal_btn">
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                    <span>Add goal</span>
                </button>
            </form>
        </div>
        <div class="column has-text-centered">
            <h1 class="title" id="goals_title">All goals</h1>
        </div>
        <div class="column"></div>
    </div>
    <div class="block"></div>
    {% for goal in goals %}
        <div class="box" id="goal_container">
            <div class="columns">
                <div class="column">
                    <div class="field">
                        <h1 class="title">{{ goal.name }}</h1>
                    </div>
                </div>
                <div class="column" style="text-align:right;">
                    <form method="get" action={% url 'delete_goal' goal.id %}>
                        <button class="button is-danger is-outlined">Delete</button>
                    </form>
                </div>
            </div>
            <progress class="progress is-primary"
                      value="{{ goal.get_percent|floatformat:"2u" }}"
                      max="100"></progress>
            <div class="columns">
                <div class="column">
                    <h2 class="subtitle">Ending {{ goal.date }}</h2>
                </div>
                <div class="column has-text-centered">
                    <h2 class="subtitle">{{ goal.get_percent }} %</h2>
                </div>
                <div class="column" style="text-align:right;">
                    <h2 class="subtitle">
                        Left <strong>{{ goal.get_left }}</strong> of {{ goal.value }}
                    </h2>
                </div>
            </div>
            <div class="field is-grouped pt-3">
                <form method="get" action={% url 'view_goal' goal.id %} id="goal_view_btn">
                    <button class="button is-primary mr-1">View</button>
                </form>
                <form method="get" action={% url 'edit_goal' goal.id %} id="goal_edit_btn">
                    <button class="button is-primary mr-1">Edit</button>
                </form>
                <form method="get" id="goal_bump_btn" action={% url 'bump_goal' goal.id %}>
                    <button class="button is-link" id="goal_bump_btn">
                        <span class="icon">
                            <i class="fa-solid fa-circle-arrow-up"></i>
                        </span>
                        <span>Bump!</span>
                    </button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock content %}
