{% extends 'base.html' %}
{% block content %}
    <div class="block">
        <center>
            <h1 class="title">Goal</h1>
        </center>
    </div>
    <div class="box">
        <h2 class="subtitle">{{ goal.name }} {{ goal.current_percent|floatformat:"2u" }} {{ goal.current_value }} {{ goal.goal_value }}</h2>
        <progress class="progress" value="{{ goal.current_percent|floatformat:"2u" }}" max="100">15%</progress>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form }}
            <div class="block">
                <button type="submit" class="button is-success">
                    <span class="icon is-small">
                        <i class="fas fa-check"></i>
                    </span>
                    <span>Save</span>
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
