{% extends 'view_instance_page/instance_container.html' %}
{% block instance_head__view_all_url %}
    {% url 'view_all_goals' %}
{% endblock instance_head__view_all_url %}
{% block instance_head__title %}
    Цель
{% endblock instance_head__title %}
{% block progress_bar %}
<progress class="progress is-info"
                          value="{{ instance.get_percent|floatformat:"2u" }}"
                          max="100"></progress>
{% endblock progress_bar %}
{% block first_column %}
<h2 class="subtitle">
    Конец: <span id="date"><strong>{{ instance.finish_date|date:"d.m.Y" }}</strong></span>
</h2>
{% endblock first_column %}
{% block second_column %}
<h2 class="subtitle">
    <span id="percent"><strong>{{ instance.get_percent }} %</strong></span>
</h2>
{% endblock second_column %}
{% block third_column %}
<h2 class="subtitle">
    Есть <span id="percent"><strong>{{ instance.get_current_balance }}</strong> из {{ instance.value }} ₽</span>
</h2>
{% endblock third_column %}
{% block instance_info__extra %}
<div class="buttons">
<form method="get" action="{{ instance.get_bumps_url }}">
    <button class="m-0 button is-warning is-light">
        <span>Таблица бампов</span>
    </button>
</form>
<form method="get" action="{{ instance.get_expenses_url }}">
    <button class="m-2 button is-primary is-light">
        <span>Таблица трат</span>
    </button>
</form>
</div>
{% endblock instance_info__extra %}
{% block instance_graphs %}
    {% comment %} <div class="box">
        {% load static %}
        <script src="{% static 'js/charts.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
        <canvas id="graph" width="400" height="200"></canvas>
        <script>
    $(document).ready(function () {
        var $expensesChart = $("#graph");
        $.ajax({
            data: $(this).serialize(),
            url: "{% url 'const_expenses_chart' instance.id %}",
            success: function (data) {
                var $expensesChart = $("#graph");
                const skipped = (ctx, value) => ctx.p0.skip || ctx.p1.skip ? value : undefined;
                ctx = $expensesChart[0].getContext('2d');
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: [{
                                label: 'Траты',
                                data: data.data,
                                borderColor: 'rgb(255, 99, 132)',
                                cubicInterpolationMode: 'monotone',
                                segment: {
                                    borderColor: ctx => skipped(ctx, 'rgb(255, 99, 132)'),
                                },
                                fill: false,
                                spanGaps: true,
                                cubicInterpolationMode: 'monotone',
                                }]},
                    options: {
                        scales: { 
                            y: {
                                min: 0,
                                ticks: {
                                    callback: function(value, index, ticks) {
                                        return value + ' ₽';
                                    }
                                }
                            },
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'month'
                                },
                                min: data.min,
                                max: data.max
                            },
                        },
                    }
                });
            },
            error: function (data, jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        })
    })
        </script>
    </div> {% endcomment %}
{% endblock instance_graphs %}
