{% extends 'horizontal_fields/base.html' %}
{% block label_name %}
    Value
{% endblock label_name %}
{% block control_tag %}
    <div class="control has-icons-left">
        <input class="input is-warning"
               type="number"
               name="value"
               placeholder="Amount"
               step="0.01"
               required
               id="{{ expense_value_form.value.id_for_label }}">
        <span class="icon is-small is-left">
            <i class="fas fa-ruble-sign"></i>
        </span>
    </div>
{% endblock control_tag %}
