{% extends 'constant_item_description.html' %}
{% block item_title %}
    {{ expense.name }}
{% endblock item_title %}
{% block first_column %}
    <h2 class="subtitle">
        Started: <span id="start_date"><strong>{{ expense.start_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock first_column %}
{% block second_column %}
    <h2 class="subtitle">
        Ending: <span id="finish_date"><strong>{{ expense.finish_date|date:"d.m.Y" }}</strong></span>
    </h2>
{% endblock second_column %}
{% block third_column %}
    <h2 class="subtitle">
        <span id="expense_value">{{ expense.get_current_value }}</span>
    </h2>
{% endblock third_column %}
