{% load static %}
{% now "Y" as current_year %}
{% now "m" as current_month %}
{% now "d" as current_day %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"
              href="{% static 'css/bulma/bulma.css' %}"
              type="text/css">
        <link rel="stylesheet" href="{% static 'css/all.css' %}" type="text/css">
        <link rel="stylesheet"
              href="{% static 'css/bulma-timeline-master/bulma-timeline.min.css' %}"
              type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/dropdown.js' %}"></script>
        <script src="{% static 'js/burger.js' %}"></script>
        <title>
            {% block title %}Казначевский{% endblock %}
        </title>
    </head>
    <body>
        <div class="hero is-primary">
            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">
                        <div class="navbar-brand">
                            <span class="navbar-burger" data-target="navbarMenuHeroA">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                                {% if user.is_authenticated %}
                                    <span class="navbar-item">Залогинился как {{ user }}</span>
                                    <span class="navbar-item">
                                        <form method="get" action={% url 'logout' %}>
                                            <button class="button is-primary">
                                                <span class="icon">
                                                    <i class="fa-solid fa-right-to-bracket"></i>
                                                </span>
                                                <span>Выйти</span>
                                            </button>
                                        </form>
                                    </span>
                                {% else %}
                                    <span class="navbar-item">
                                        <form method="get" action={% url 'login' %}>
                                            <button class="button">
                                                <span class="icon">
                                                    <i class="fa-solid fa-right-to-bracket"></i>
                                                </span>
                                                <span>Войти</span>
                                            </button>
                                        </form>
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="hero-body">
                <p class="title">Казначевский</p>
                <p class="subtitle">
                    {% block subtitle_hero %}
                        Поменяй субтитл
                    {% endblock subtitle_hero %}
                </p>
            </div>
        </div>
        {% block navigation %}
            <div class="column is-full-touch is-10-desktop is-offset-1-desktop">
                <div class="field is-grouped is-grouped-multiline is-justify-content-center">
                    <div class="control">
                    <a class="button is-primary is-light is-rounded"
                       id="main_menu_expenses_btn"
                       href=
                       {% url 'add_expense' %}>Траты</a></div>
                       <div class="control">
                    <a class="button is-link is-light is-rounded"
                       href=
                       {% url 'view_monthly_incomes' current_year current_month %}>Доходы</a></div>
                       <div class="control">
                    <a class="button is-warning is-light is-rounded"
                       href=
                       {% url 'view_resume' current_year current_month %}>Дашборд</a></div>
                       <div class="control">
                    <a class="button is-danger is-light is-rounded"
                       href=
                       {% url 'view_month' current_year current_month %}>Табличка</a></div>
                       <div class="control">
                    <a class="button is-info is-light is-rounded"
                       id="main_menu_goals_btn"
                       href=
                       {% url 'view_all_goals' %}>Цели</a></div>
                </div>
            </div>
            </div>
        {% endblock navigation %}
        {% block month_tabs %}
        {% endblock month_tabs %}
        <div class="column is-full-touch is-10-desktop is-offset-1-desktop">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
    <footer>
        <section class="section">
        </section>
    </footer>
</html>
