{% extends '../horizontal_field.html' %}
{% block label_name %}
    Дата повышения
{% endblock label_name %}
{% block control_tag %}
    <div class="control is-expanded has-icons-left">
        <input class="input {{ instance_color }}"
               type="date"
               name="date"
               value="{{ form.date.value }}"
               id="{{ date_form.date.id_for_label }}">
        <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
        </span>
    </div>
{% endblock control_tag %}
