{% extends 'yearly_resume.html' %}
{% block content %}
    <div class="tile is-ancestor">
        <div class="tile is-vertical">
            <div class="tile">
                <div class="tile is-parent">
                    <div class="tile is-child notification is-primary box">
                        <div class="block">
                            <form method="get" action={% url 'view_monthly_incomes' year month %}>
                                <p class="title">
                                    Доходы
                                    <button class="button is-primary is-inverted">Изменить</button>
                                </p>
                            </form>
                        </div>
                        <div class="block">
                            {% for name, value in incomes.items %}
                                <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center py-1"
                                     style="border-bottom: 1px dotted #fff;">
                                    <span>{{ name }}</span>
                                    <span class="tag">{{ value }} ₽</span>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center">
                            <span>
                                <p class="subtitle">Итого</p>
                            </span>
                            <span class="tag is-medium has-text-weight-bold">{{ total_income }} ₽</span>
                        </div>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child notification is-danger box">
                        <div class="block">
                            <form method="get" action={% url 'view_all_piggies' %}>
                                <p class="title">
                                    Свинки
                                    <button class="button is-danger is-inverted">Изменить</button>
                                </p>
                            </form>
                        </div>
                        <div class="block">
                            {% for piggy, capital in piggies.items %}
                                <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center py-1"
                                     style="border-bottom: 1px dotted #fff;">
                                    <span>{{ piggy.name }}</span>
                                    <span class="tag">{{ capital }} ₽</span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child notification is-warning box">
                    <div class="block">
                        <form method="get" action={% url 'view_monthly_expenses' year month %}>
                            <p class="title">
                                Траты
                                <button class="button is-warning is-inverted">Изменить</button>
                            </p>
                        </form>
                    </div>
                    <div class="block">
                        {% for expense in expenses %}
                            <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center py-1"
                                 style="border-bottom: 1px dotted #363636;">
                                <span>{{ expense.name }}</span>
                                <span class="tag">{{ expense.get_current_value }} ₽</span>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center">
                        <span>
                            <p class="subtitle">Итого</p>
                        </span>
                        <span class="tag is-medium has-text-weight-bold">{{ total_expense }} ₽</span>
                    </div>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="tile is-child notification is-link box">
                    <div class="block">
                        <form method="get" action={% url 'view_all_goals' %}>
                            <p class="title">
                                Цели
                                <button class="button is-link is-inverted">Изменить</button>
                            </p>
                        </form>
                    </div>
                    {% for goal in goals %}
                        <div class="block">
                            <form method="get" action={% url 'bump_goal' goal.id %}>
                                <p class="subtitle mb-3">
                                    {{ goal.name }}
                                    <button class="button is-link is-inverted is-small is-pulled-right">
                                        <span class="icon">
                                            <i class="fa-solid fa-plus"></i>
                                        </span>
                                        <span>Бамп!</span>
                                    </button>
                                </p>
                            </form>
                            <progress class="progress is-small is-warning mb-1"
                                      value="{{ goal.get_percent|floatformat:"2u" }}"
                                      max="100"></progress>
                            <div class="is-flex mb-2 is-justify-content-space-between is-align-items-center py-1">
                                <span>
                                    <h2 class="subtitle">К {{ goal.date }}</h2>
                                </span>
                                <span>
                                    <h2 class="subtitle">{{ goal.get_percent }} %</h2>
                                </span>
                                <span>
                                    <h2 class="subtitle">Осталось {{ goal.get_left }} ₽ из {{ goal.value }} ₽</h2>
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
