{% extends 'base.html' %}
{% block title %}
    Index page
{% endblock title %}
{% block subtitle_hero %}
    Monthly resume page
{% endblock subtitle_hero %}
{% block month_tabs %}
    <div class="block">
        <div class="block">
            <center>
                <h1 class="title">{{ cur_month }} {{ year|stringformat:"i" }}</h1>
            </center>
        </div>
        <div class="tabs is-centered is-toggle">
            <ul>
                {% for month in monthes %}
                    <li {% if month.name == cur_month %} class="is-active"{% endif %}>
                        <a href={% url 'view_resume' year month.id %}>{{ month.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        </block>
    {% endblock month_tabs %}
    {% block content %}
        {% block settings %}
        {% endblock settings %}
        {% block spends_table %}
        {% endblock spends_table %}
    {% endblock content %}
